.mainContainer {
    background-color: #ffffff;
    margin: 0 0 100px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 5px 24px rgba(149, 157, 165, 0.4);
    z-index: 100;
  }
  
  .container {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    /* justify-content: flex-start; */
    align-items: center;
    height: 40px;
    padding: 15px 180px;
  }
  
  .productLink {
    text-decoration: none !important;
    color: #020000;
    font-weight: bold;
    border-bottom: 3px solid #020202;
    border-radius: 2px;
    padding: 0 1px;
    transition: all 0.2s ease;
  }
  
  .productLink:hover {
    color: #c3c6cb;
    border-bottom-color: #0b499b;
  }
  
  .iconContainer {
    position: relative;
    /* left: 45rem;
    top: 50%; */
    /* transform: translateY(-50%); */
  }
  
  .iconContainer img {
    width: 40px;
    color: #001127;
  }
  
  .iconContainer span {
    position: absolute;
    top: 0;
    /* left: 47rem; */
    right: 0;
    background-color: #0c0c0c;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 0.75rem;
    text-align: center;
    font-weight: bold;
    color: #fff;
  }
  
  .listContainer ul {
    display: flex;
    list-style: none;
  }
  
  .listContainerLink {
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    color: #0c0c0c;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease;
    padding-bottom:5px ;
  
  }
  .listContainerLink2 {
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    color: #171718;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease;
    padding-bottom:5px ;
  
  }
  .listContainerLink:hover {
    border-bottom: 1px solid #f3f5f8;
  }
  .pitem{
    color: black;
  }
  @media (max-width: 1200px) {
    .container {
      padding: 15px 80px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 15px 40px;
    }
  }
  
  @media (max-width: 555px) {
    .container {
      padding: 15px 20px;
    }
  }