*
{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: "Kanit", Arial, sans-serif;
}

.class { 
    font-family: "Segoe UI", Arial, sans-serif;
}

.WelcomePage
{
    width: 100%;
    height: 100%;
}



/* Pc */
@media (min-width:1065px)
{
/* Customize menu */
.main-nav
{
    -webkit-backdrop-filter:blur(10px);
    backdrop-filter: blur(10px);    
    background-color: rgba(255, 255, 255, 0.614);
    margin-top: 1rem;
    margin-inline: 2rem;
    border-radius: 6px;
    box-shadow: 0px 4px 10px 0px rgb(0, 0, 0,0.25);
    z-index: 7 ;
    top: 0%;
    display: flex;
    position: fixed;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}


ul.menu-left
{
    align-items: center;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-flex;
    z-index: 6;
}

div.menu-right
{
    display: flex;
    z-index: 6;
    align-items: center;
    margin-left: auto;
    padding-right: 2rem;
}

li
{
    padding-right: 50px;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchbox
{
    border-radius: 15px;
    border:0cm;
    height: 24px;
    width: 16rem;
    margin-right: 1rem;
}

input[type=search]
{
    outline: none;
    padding: 12px 12px;
    font-size: 15px;
    
}
/* สไตล์สำหรับเมนูแบบดรอปดาวน์ */
.dropdown {
    position: relative;
    display: inline-block;
    left: 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.614);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 1;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* กำหนดความสูงให้เท่ากับความสูงของหน้าจอ */
    
}

/* สไตล์สำหรับเมนูแบบดรอปดาวน์ */
.dropdown {
    position: relative;
    display: inline-block;
    left: 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.614);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* สไตล์สำหรับรูปภาพในเมนูแบบดรอปดาวน์ */
.dropdown-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* สไตล์สำหรับตัวเลือกในเมนูแบบดรอปดาวน์ */
.dropdown-content a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0);
    color: white;
}
/* Shop */
a.Shop
{
    text-decoration:none;
    color: rgb(68, 68, 68);
}

/* Magazine */
a.Magazine
{
    text-decoration: none;
    color: rgb(68, 68, 68);
}

/* CustomYourOwn */
a.Custom
{
    text-decoration: none;
    color: rgb(68, 68, 68);
}

/* Logo */
.logo
{
    margin-right: 70px;    
    height: 20px;
    width: 20px;
    padding-left: 1px;
 
}

.login
{
    height: 40px;
}

.cart
{
    height: 40px;
    margin-right: 10px;
}

.Shadow
{
    display:block;
    width: 100%;
    position: fixed ;
    z-index: 5;
    top:0%;

}

.img-title
{
    width: 100%;
    display: block;
}


h1
{
    font-size: large;
}



/* Banner */

.Banner
{
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: var(--doc-height, 100vh);
    z-index: 4;
    bottom: 0;
}

.VdoBanner
{
    width: 100%;
    height: var(--doc-height, 100vh);
    object-fit: cover;
    z-index: 6;
}



.black_effect
{
    background-color: rgba(0, 0, 0, 0.074);
    width: 100%;
    height: var(--doc-height, 100vh);
    z-index: 5;
    object-fit: cover;
    position: absolute;
}

.mouse-scroll
{
    width: 100%;
    position: relative;
}

.mouse
{
    position: absolute;
}

/* Hamburger */


/* Recommand */
.Recommand
{
    top: 0;
    left: 0;
    position: relative;
    height: 700px;
    z-index: 4;
    bottom: 0;
    /* background: url(../img/noise.png) opa; */
    /* background-repeat: no-repeat; */
    background-color: #eeeeea;
    background-size: cover;
    padding-inline: 1rem;
    padding-top: 60px;
    font-family: "Kanit", Arial, sans-serif;
    display: flex;
    /* grid-template-columns: 1fr 1fr;*/
} 

.Rec-image
{
    flex: 100%;
    padding-inline: 1rem;
}

.cyo
{
    display: inline-block;
    height: 400px;
    position: relative;
    top: 20%;
    left: 4rem;
}


.Rec-paragraph
{
    align-items: center;
    padding-top: 200px;
    padding-inline: 1rem;
    /* margin-left: 10%;
    margin-right: 10%; */
}

.Rec-paragraph-Headers
{
    color: #676767;
    text-decoration: underline;
    font-weight:700;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: grid;
    padding-inline: 1rem;
}

.Rec-paragraph-Paragraph
{
    display: grid  ;
    justify-content: center;
    align-items: center ;
    font-size: 20px;
    padding-inline: 3rem;
    font-weight: 300;
    margin-top: 50px;
    
}

.Button-Paragraph
{
    justify-content: center;
    width: 246px;
    height: 76px;
    font-size: 24px;
    border-radius: 38px;
    background-color: #090909;
    color: white;
    align-items: center;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    cursor: pointer;
    font-family: "Kanit", Arial, sans-serif;
    transition: transform 1.2s;
    
}

.Button-Paragraph:hover
{
    background-color:#090909c0;
    transform: scale(1.05);
}

.bgblur
{
    height: 100%;
}


.column 
{
    display: inline-block;
}

.Detail-area
{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: black;
    
}

.Detail-grid
{
    display: grid;
    padding-top: 20px;
    padding-inline: 20px;
}

h4.Copyright-detail
{
    color: white;
    font-weight: 300;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* กำหนดความสูงให้เท่ากับความสูงของหน้าจอ */
    
}
/* สไตล์สำหรับเมนูแบบดรอปดาวน์ */
.dropdown {
    position: relative;
    display: inline-block;
    left: 1px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.614);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* สไตล์สำหรับรูปภาพในเมนูแบบดรอปดาวน์ */
.dropdown-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
/* สไตล์สำหรับตัวเลือกในเมนูแบบดรอปดาวน์ */
.dropdown-content a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover {
    background-color: rgba(0, 0, 0);
    color: white;
}

.hamburger-menu
    {
        position: absolute;
        z-index: 997;
        display: none;
    }
}

/* Mobile */
@media (max-width:780px)
{
    .top-menu
    {
        display: none;
    }

    .top-menu {
        visibility: visible;
    }

    .main-nav{
        display:none;
    }

    .Rec-image{
        /* padding-inline: 3rem; */
    
    }
    .Rec-paragraph
    {
        padding-top: 0;

    }

    .Rec-image
    {
        /* width: 100%; */
    }

    /* Hamburger */
    .hamburger-menu
    {
        position: fixed;
        z-index: 997;
        font-size: 90%;
    }

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px !important;
    height: 26px !important;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -280%;
    width: 600px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eceff180;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 32px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
    
  /* Banner */

.Banner
{
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: var(--doc-height, 100vh);
    z-index: 4;
    bottom: 0;
}

.VdoBanner
{
    width: 100%;
    height: var(--doc-height, 100vh);
    object-fit: cover;
    z-index: 6;
}



.black_effect
{
    background-color: rgba(0, 0, 0, 0.074);
    width: 100%;
    height: var(--doc-height, 100vh);
    z-index: 5;
    object-fit: cover;
    position: absolute;
}

.mouse-scroll
{
    width: 100%;
    position: relative;
}

.mouse
{
    position: absolute;
}

/* Hamburger */


/* Recommand */
.Recommand
{
    flex-direction: column;
    height: 1000px;
    top: 0;
    left: 0;
    position: relative;
    z-index: 4;
    bottom: 0;
    /* background: url(../img/noise.png) opa; */
    /* background-repeat: no-repeat; */
    background-color: #eeeeea;
    background-size: cover;
    padding-top: 60px;
    font-family: "Kanit", Arial, sans-serif;
    display: flex;
    /* grid-template-columns: 1fr 1fr;*/
} 

.Rec-image
{
    width: 100%;
    display: flex;
    flex: 0;
    justify-content: center;
    align-items: center;
}

.cyo
{
    display: inline-block;
    height: 200px;
    position: relative;
    top: 20%;
    left: 0rem;
    transition: transform 0.5s;
    cursor: pointer;
}

.cyo:hover
{
    transform: scale(2);
}


.Rec-paragraph
{
    align-items: center;
    padding-top: 100px;
    padding-inline: 1rem;
    /* margin-left: 10%;
    margin-right: 10%; */
}

.Rec-paragraph-Headers
{
    color: #676767;
    text-decoration: underline;
    font-weight:700;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: grid;
    padding-inline: 1rem;
}

.Rec-paragraph-Paragraph
{
    display: grid;
    justify-content: center;
    align-items: center ;
    font-size: 18px;
    padding-inline: 3rem;
    font-weight: 300;
    margin-top: 50px;
    
}

.Button-Paragraph
{
    justify-content: center;
    width: 246px;
    height: 76px;
    font-size: 24px;
    border-radius: 38px;
    background-color: #090909;
    color: white;
    align-items: center;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    cursor: pointer;
    font-family: "Kanit", Arial, sans-serif;
    transition: transform 1.2;
}

.Button-Paragraph:hover
{
    background-color:#090909c0;
    transform: scale(1.05);
}

.bgblur
{
    height: 100%;
}


.column 
{
    display: inline-block;
}

.Detail-area
{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: black;
    
}

.Detail-grid
{
    display: grid;
    padding-top: 20px;
    padding-inline: 20px;
}

h4.Copyright-detail
{
    color: white;
    font-weight: 300;
}
}
/* Tablet */
@media (min-width:781px) and (max-width:1065px)
{
    .top-menu
    {
        display: none;
    }

    .top-menu {
        visibility: visible;
    }

    .main-nav{
        display:none;
    }

    .Rec-image{
        /* padding-inline: 3rem; */
    
    }
    .Rec-paragraph
    {
        padding-top: 0;

    }

    .Rec-image
    {
        /* width: 100%; */
    }

    /* Hamburger */
    .hamburger-menu
    {
        position: fixed;
        z-index: 997;
        font-size: 90%;
    }

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px !important;
    height: 26px !important;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 600px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eceff180;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 32px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
    
  /* Banner */

.Banner
{
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: var(--doc-height, 100vh);
    z-index: 4;
    bottom: 0;
}

.VdoBanner
{
    width: 100%;
    height: var(--doc-height, 100vh);
    object-fit: cover;
    z-index: 6;
}



.black_effect
{
    background-color: rgba(0, 0, 0, 0.074);
    width: 100%;
    height: var(--doc-height, 100vh);
    z-index: 5;
    object-fit: cover;
    position: absolute;
}

.mouse-scroll
{
    width: 100%;
    position: relative;
}

.mouse
{
    position: absolute;
}

/* Hamburger */


/* Recommand */
.Recommand
{
    flex-direction: column;
    height: 1000px;
    top: 0;
    left: 0;
    position: relative;
    z-index: 4;
    bottom: 0;
    /* background: url(../img/noise.png) opa; */
    /* background-repeat: no-repeat; */
    background-color: #eeeeea;
    background-size: cover;
    padding-top: 60px;
    font-family: "Kanit", Arial, sans-serif;
    display: flex;
    /* grid-template-columns: 1fr 1fr;*/
} 

.Rec-image
{
    width: 100%;
    display: flex;
    flex: 0;
    justify-content: center;
    align-items: center;
}

.cyo
{
    display: inline-block;
    height: 400px;
    position: relative;
    top: 20%;
    left: 0rem;
    transition: transform 0.5s;
    cursor: pointer;
}

.cyo:hover
{
    transform: scale(2);
}


.Rec-paragraph
{
    align-items: center;
    padding-top: 200px;
    padding-inline: 1rem;
    /* margin-left: 10%;
    margin-right: 10%; */
}

.Rec-paragraph-Headers
{
    color: #676767;
    text-decoration: underline;
    font-weight:700;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: grid;
    padding-inline: 1rem;
}

.Rec-paragraph-Paragraph
{
    display: grid;
    justify-content: center;
    align-items: center ;
    font-size: 27px;
    padding-inline: 3rem;
    font-weight: 300;
    margin-top: 50px;
    
}

.Button-Paragraph
{
    justify-content: center;
    width: 246px;
    height: 76px;
    font-size: 24px;
    border-radius: 38px;
    background-color: #090909;
    color: white;
    align-items: center;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    cursor: pointer;
    font-family: "Kanit", Arial, sans-serif;
    transition: transform 1.2;
}

.Button-Paragraph:hover
{
    background-color:#090909c0;
    transform: scale(1.05);
}

.bgblur
{
    height: 100%;
}


.column 
{
    display: inline-block;
}

.Detail-area
{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: black;
    
}

.Detail-grid
{
    display: grid;
    padding-top: 20px;
    padding-inline: 20px;
}

h4.Copyright-detail
{
    color: white;
    font-weight: 300;
}

}